.data-table__thead {
    background-color: var(--color--primary);
    border: 1px solid var(--color--neutral-800);
}

.data-table__tr {
    transition: var(--transition--background);
    background-color: var(--color--primary);
    border: none;
}

.data-table__th {
    color: var(--color--neutral-500);
    text-align: left;
    padding: var(--padding--tbody);
    font-weight: bold;
    font-size: var(--font--large);
    cursor: pointer;
    transition: var(--transition--color);
    vertical-align: middle;
    position: relative;
}

.data-table__th:hover {
    color: var(--color--secondary);
}

.data-table__th-content {
    display: inline-block;
    vertical-align: middle;
    padding-right: var(--padding--mobile);
}

.sortIcon__container {
    display: inline-block;
    margin-left: var(--padding--xs);
    vertical-align: middle;
    cursor: pointer;
    transform: translateY(2px);
}

