.data-table__table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color--primary);
    border-radius: var(--border--radius--large);
    overflow: hidden;
    border: 1px solid  var(--color--neutral-800);
}