.data-table__table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color--primary);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    overflow: hidden;
}