.grid-view {
    display: flex;
    flex-direction: column;
    padding: 0 128px;
}

@media screen and (max-width: 990px) {
    .grid-view {
        padding: 0 32px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
    gap: 8px;
}

.grid-item {
    padding: 32px;
    background-color: var(--color--primary);
    border-radius: 16px;
    color: var(--color--white);
    text-align: start;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
    opacity: 0;
}

.grid-item:hover {
    background-color: var(--color--secondary);
    transform: scale(1.02);
    cursor: pointer;
}

.hover-text {
    transition: color 0.3s ease-in-out;
}

.grid-item:hover .hover-text {
    color: var(--color--white);
}

.grid-item-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.grid-item-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 32px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.grid-item.fade-in {
    opacity: 1;
    transform: translateY(0);
}
