.button__primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 41px;
    margin: 20px auto;
    padding: 15px;
    background-color: var(--color--secondary);
    color: var(--color--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--font--large);
    transition: background-color 0.3s ease;
}

.button__primary:hover {
    background-color: var(--color--error);
}