.button__primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    padding: var(--padding--button);
    background-color: var(--color--secondary);
    color: var(--color--white);
    border: none;
    border-radius: var(--border--radius--xs);
    cursor: pointer;
    font-size: var(--font--large);
    transition: var(--transition--background);
    min-width: 190px;
    position: relative;
}

.button__primary:hover {
    background-color: var(--color--error);
}

.button__arrow {
    position: absolute;
    right: 10%;
    animation: bounce-horizontal 1s ease-in-out infinite alternate;
    transition: transform 0.3s ease-out;
}

.button__primary:hover .button__arrow {
    animation-play-state: paused;
    transform: translateX(0);
}

@keyframes bounce-horizontal {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(4px);
    }
}