.loading {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: white;
}

.fullscreen-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #4158d0, #c850c0);
    z-index: 9999;
}

.loader-content {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.wave-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
}


.placeholder-box {
    width: 30px;
    height: 30px;
    background: black;
    margin: 5px;
    border-radius: 5000px;
    display: inline-block;
}

@keyframes waveAnimation {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-50%);
    }
  }