.loading__content {
    text-align: center;
    padding: var(--padding--mobile);
    font-size: var(--font--xlarge);
    color: var(--color-primary);
}

.loading__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-50);
    z-index: 9999;
}

.loading__boxes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
}


.loading__box {
    width: 30px;
    height: 30px;
    background: black;
    margin: 5px;
    border-radius: 5000px;
    display: inline-block;
}

@keyframes waveAnimation {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-50%);
    }
  }