.title__h1 {
    color: var(--color--primary);
    margin: 0;
    text-align: center;
    font-size: var(--font--xxxlarge);
}

.title__h2 {
    color: var(--color--primary);
    margin: 0;  
    font-size: var(--font--h2);
}

.title__h3 {
    color: var(--color--secondary);
    margin: 0;  
    text-align: center;
    font-size: var(--font--xlarge);
}

.title__h4 {
    color: var(--color--secondary);
    margin: 0;  
    text-align: center;
    font-size: var(--font--large);
}

.title__p {
    color: var(--color--neutral-600);
    margin: 0;  
    text-align: center;
    font-size: var(--font--large);
}

.white {
    color: var(--color--white);
}

.gray {
    color: var(--color--neutral-500);
}

.orange {
    color: var(--color--orange);
}

.primary {
    color: var(--color--primary);
}