.data-table__container {
    margin: 0 auto;
    padding: 0px 128px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: var(--color--neutral-50);
}
.error {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: var(--color--error);
    display: flex;
    justify-content: center;
    margin: auto;
    height: 80vh;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: start;
}

.strong {
    font-weight: bold;
    text-transform: capitalize;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}