.data_table__tr {
    transition: var(--transition--background);
    background-color: var(--color--primary);
    border: none;
}

.uneven {
    background-color: var(--color--neutral-900);
}

.tr-hover {
    transition: var(--transition--background);
    background-color: var(--color--secondary) !important;
    cursor: pointer;
}

.data-table__td {
    padding: var(--padding--header);
    text-align: start;
    color: var(--color--white);
}

.success-toast {
    color: var(--color--white);
    background-color: var(--color--secondary);
    font-family: 'Poppins', sans-serif;
}

.Toastify__toast-icon {
    color: var(--color--white);

    svg {
        fill: var(--color--white);
    }
}

.Toastify__progress-bar {
    background-color: var(--color--white);
    color: var(--color--white);
    opacity: 1;
}

.Toastify__progress-bar--success {
    background-color: var(--color--white);
}
